<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="divwrapper">
        <h1 id="fof">404: Oops! Couldn't find that for you. Try again later!</h1>
      </div>
    </div>
  </div>
</div>