<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="divwrapper">
        <div class="seatwrapper">
          <div class="table1">
            <div id="s1"></div>
            <div id="s2"></div>
            <div id="s3"></div>
            <div id="s4"></div>
            <div id="s5"></div>
            <div id="s6"></div>
          </div>
          <div class="table2">
            <div id="s7"></div>
            <div id="s8"></div>
            <div id="s9"></div>
            <div id="s10"></div>
            <div id="s11"></div>
          </div>
          <div class="table3">
            <div id="s12"></div>
            <div id="s13"></div>
            <div id="s14"></div>
            <div id="s15"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>