@import url('https://fonts.googleapis.com/css?family=Raleway');
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 100%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 100%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  color: white;
}
.nav {
  margin: 30px 0;
  text-align: center;
}
.nav ul li {
  display: inline-block;
}
.nav ul li a {
  margin: 0 20px;
  font-size: 18px;
  color: white;
}
.divwrapper {
  margin-top: 10%;
}
.divwrapper h1,
.divwrapper p {
  text-shadow: 2px 2px 8px #000;
}
.divwrapper .form {
  margin: 0 auto;
  width: 50%;
}
.divwrapper .form label {
  font-weight: 100;
  font-size: 18px;
}
.divwrapper .form input:hover {
  box-shadow: 0px 0px 22px -5px #5BC8EF;
}
.divwrapper .form button {
  padding: 6px 20px;
}
.divwrapper .seatwrapper .table1 {
  width: 15%;
  margin: 0 auto;
}
.divwrapper .seatwrapper .table1 div {
  display: inline-block;
  margin: 5px 5px;
  height: 20px;
  width: 20px;
  background-color: green;
}
.divwrapper .seatwrapper .table2 {
  width: 15%;
  margin: 5% auto;
}
.divwrapper .seatwrapper .table2 div {
  display: inline-block;
  margin: 5px 5px;
  height: 20px;
  width: 20px;
  background-color: green;
}
.divwrapper .seatwrapper .table3 {
  width: 10%;
  margin: 5% auto;
}
.divwrapper .seatwrapper .table3 div {
  display: inline-block;
  margin: 5px 5px;
  height: 20px;
  width: 20px;
  background-color: green;
}
.divwrapper #fof {
  text-align: center;
}
